---
---

/*
	Dark theme
*/

$background-color: #1d1d1d;
$text-color: #e6e6e6;
$grey-color-light: #565656;
$grey-color-dark: #adadad;

@import "{{ site.theme }}";
.site-header {
	border-top: 0px solid #adadad;
}

/*
	Avatar
*/

.avatar_img {
	width: 150px;
	height: 150px;
	margin: 25px auto;
	overflow: hidden;
	border-radius: 50%;
	position: relative;
}

.avatar_text {
	padding-left: 175px;
	font-size: 16px;
}